---
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

layout: default
---

<div class="hero-unit">
  <h1>Apache Logging Services</h1>
  <p>The Apache Logging Services project creates and maintains open-source software related to the logging of
    application behavior and released at no charge to the public.</p>
</div>

{% if site.posts.size > 0 %}
<div class="latest-post">
    {% assign last_post = site.posts | first %}
    <div class="latest-post-date">{{ last_post.date | date_to_string }}</div>
    <div class="latest-post-news"><a href="{{ last_post.url }}">{{ last_post.title }}</a></div>
</div>
{% endif %}

<div class="projects">
  <h3>Logging Frameworks</h3>

  {% for project in site.data.projects %}
    {% if project.status == "active" and project.section == "creation" %}
    <div class="project">
      <h2>{{project.name}}</h2>
      <p>{{project.description}}</p>
      <p><a target="_blank" class="btn" href="{{project.url}}">Project site &raquo;</a></p>
    </div>
    {% endif %}
  {% endfor %}

  <h3>Advanced Log Processing</h3>

  {% for project in site.data.projects %}
    {% if project.status == "active" and project.section == "processing" %}
    <div class="project">
      <h2>{{project.name}}</h2>
      <p>{{project.description}}</p>
      <p><a target="_blank" class="btn" href="{{project.url}}">Project site &raquo;</a></p>
    </div>
    {% endif %}
  {% endfor %}

  <h3>Others</h3>
  <div class="project">
    <h2>Dormant Projects</h2>
    <p>Logging Services projects that are no longer actively maintained.</p>
    <p><a class="btn" href="dormant.html">See dormant projects &raquo;</a></p>
  </div>
</div>
